@use "variables" as *;

:root {
  color-scheme: only light;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background: linear-gradient(135deg, #f3eee2 0%, #f8f4ec 40%, #f1e6d1 100%);
  color: $olive-950;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}
