@use "variables" as *;
@use "base";
@use "layout";
@use "animations";
@use "../view/header/header" as *;
@use "../view/footer/footer" as *;
@use "../sections/index-hero/index-hero" as *;
@use "../sections/index-features/index-features" as *;
@use "../sections/index-approach/index-approach" as *;
@use "../sections/index-collection/index-collection" as *;
@use "../sections/index-cta/index-cta" as *;
@use "../sections/about-hero/about-hero" as *;
@use "../sections/about-philosophy/about-philosophy" as *;
@use "../sections/about-timeline/about-timeline" as *;
@use "../sections/about-values/about-values" as *;
@use "../sections/products-hero/products-hero" as *;
@use "../sections/products-list/products-list" as *;
@use "../sections/products-formats/products-formats" as *;
@use "../sections/contacts-hero/contacts-hero" as *;
@use "../sections/contacts-info/contacts-info" as *;
@use "../sections/contacts-visit/contacts-visit" as *;
@use "responsive";
